.scroller {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #dad7d7 #F4F4F4;
}

.scroller::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}

.scroller::-webkit-scrollbar {
  width: 6px;
  background: #F4F4F4;
}

.scroller::-webkit-scrollbar-thumb {
  background: #dad7d7;
}

.users-list {
  margin: 0 !important;
  padding: 0 !important;
  width: 350px;
}
.users-list > .user-list-header {
  background-color: #ededed;
  align-content: space-between;
  align-items: center;
  min-width: 100px;
}
.users-list > .users {
  cursor: pointer;
}
.users-list > .users > div {
  max-height: calc(100vh - 56px - 1rem);
  overflow-y: auto;
}
.users-list > .users > div > li {
  height: 50px;
  display: flex;
  align-content: flex-start;
  align-items: center;
  font-weight: bold;
  font-size: 1em;
  border-bottom: 1px solid #dad7d7;
  padding-bottom: 35px;
  padding-top: 35px;
}

#settings {
  cursor: pointer;
}

.initial-dashboard {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 220px;
  height: 100%;
}

.chat {
  margin: 0 !important;
  padding: 0 !important;
}
.chat > .chat-background {
  background-color: #e5ddd5ed;
  height: 100vh;
}
.chat > .chat-background > .chat-header {
  border-left: 1px solid #dad7d7;
  background-color: #ededed;
  align-content: space-between;
  align-items: center;
}
.chat > .chat-background > .chat-body {
  position: relative;
}
.chat > .chat-background > .chat-body > .chat-footer {
  border-left: 1px solid #dad7d7;
  background-color: #ededed;
  align-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.chat .custom-textarea-content {
  border-radius: 21px;
  background-color: #fff;
  padding-top: 2px;
  padding-bottom: 2px;
}
.chat .custom-textarea {
  width: calc(100vw - 450px);
  max-height: 100px;
  padding: 2px 11px 2px 11px;
  margin: 5px 10px;
  border: 1px solid #fff;
  border-radius: 21px;
  background-color: #fff;
  outline: none;
}
.chat .icon-send-message {
  padding-left: 10px;
  width: 45px;
  height: 37px;
  cursor: pointer;
}
.chat .content-message-to {
  display: flex;
  justify-content: flex-end;
  margin-left: 40px;
}
.chat .content-message-from {
  display: flex;
  justify-content: flex-start;
  margin-right: 40px;
}
.chat .message {
  border-radius: 12px;
  max-width: 600px;
}
.chat .message-to {
  display: flex;
  background-color: #dcf8c6;
  padding: 8px;
  margin: 2px 10px 2px 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.chat .message-from {
  display: flex;
  background-color: #fff;
  padding: 8px;
  margin: 2px 10px 2px 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.chat .chat-content {
  display: table-cell;
  vertical-align: bottom;
  height: calc(100vh - 133px);
  width: calc(100vw - 350px);
  position: absolute;
}
.chat .message-hour {
  font-size: 0.8em;
  color: #999;
  padding-top: 9px;
  padding-left: 27px;
  position: relative;
  float: right;
}
.chat .content-message-from + .content-message-to {
  margin-top: 35px;
}
.chat .content-message-to + .content-message-from {
  margin-top: 35px;
}
.chat [contenteditable=true]:empty:before {
  content: attr(title);
  color: #999;
}
.chat .chat_load {
  height: 100vh;
  display: flex;
}

/*MESSAGES*/
.ajax_response.message {
  color: #ffffff;
  font-size: 1em;
  font-weight: 600;
  display: block;
  width: 100%;
  padding: 20px;
  border: 2px solid #cccccc;
  margin-bottom: 30px;
  border-radius: 5px;
}

.ajax_response.message.success {
  --color: $green;
  color: var(--color);
  border-color: var(--color);
}

.ajax_response.message.info {
  --color: $blue;
  color: var(--color);
  border-color: var(--color);
}

.ajax_response.message.warning {
  --color: $orange;
  color: var(--color);
  border-color: var(--color);
}

.ajax_response.message.error {
  --color: $red;
  color: var(--color);
  border-color: var(--color);
}

/*AJAX RESPONSES MESSAGES*/
.ajax_response {
  position: fixed;
  padding: 20px 20px 0 0;
  z-index: 1061;
  top: 56px;
  right: 0;
  width: 300px;
  max-width: 100%;
}

.ajax_response .message {
  color: #ffffff;
  font-size: 0.8em;
  font-weight: 400;
  overflow: hidden;
  border: none;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 15px 15px 20px 15px;
  background: #333333;
  margin-bottom: 15px;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
}

.ajax_response .message:before {
  flex-basis: 0;
  margin: -5px 15px 0 0 !important;
  font-size: 2.4em;
  color: rgba(0, 0, 0, 0.5);
}

.ajax_response .message_time {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 4%;
  height: 5px;
  background: rgba(0, 0, 0, 0.5);
}

.ajax_response .message.success {
  background: #36a289;
}

.ajax_response .message.info {
  background: #3498db;
}

.ajax_response .message.warning {
  background: #fd7e14;
}

.ajax_response .message.error {
  background: #d94352;
}

@font-face {
  font-family: "fsphp";
  src: url("../fonts/fsphp.eot");
  src: url("../fonts/fsphp.eot?#iefix") format("embedded-opentype"), url("../fonts/fsphp.woff") format("woff"), url("../fonts/fsphp.ttf") format("truetype"), url("../fonts/fsphp.svg#fsphp") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "fsphp" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "fsphp" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-coffee:before {
  content: "\e000";
}

.icon-facebook:before {
  content: "\e001";
}

.icon-twitter:before {
  content: "\e002";
}

.icon-instagram:before {
  content: "\e003";
}

.icon-youtube:before {
  content: "\e004";
}

.icon-phone:before {
  content: "\e005";
}

.icon-envelope:before {
  content: "\e006";
}

.icon-map-marker:before {
  content: "\e007";
}

.icon-menu:before {
  content: "\e008";
}

.icon-error:before {
  content: "\e009";
}

.icon-check-square-o:before {
  content: "\e00a";
}

.icon-sign-in:before {
  content: "\e00b";
}

.icon-sign-out:before {
  content: "\e00c";
}

.icon-clock-o:before {
  content: "\e00d";
}

.icon-heartbeat:before {
  content: "\e00e";
}

.icon-bar-chart:before {
  content: "\e00f";
}

.icon-suitcase:before {
  content: "\e010";
}

.icon-play-circle-o:before {
  content: "\e011";
}

.icon-link-broken:before {
  content: "\e012";
}

.icon-link:before {
  content: "\e013";
}

.icon-check:before {
  content: "\e014";
}

.icon-graduation-cap:before {
  content: "\e015";
}

.icon-life-ring:before {
  content: "\e016";
}

.icon-leanpub:before {
  content: "\e017";
}

.icon-plus:before {
  content: "\e018";
}

.icon-minus:before {
  content: "\e019";
}

.icon-search:before {
  content: "\e01a";
}

.icon-unlock-alt:before {
  content: "\e01b";
}

.icon-user:before {
  content: "\e01c";
}

.icon-user-plus:before {
  content: "\e01d";
}

.icon-warning:before {
  content: "\e01e";
}

.icon-info:before {
  content: "\e01f";
}

.icon-home:before {
  content: "\e020";
}

.icon-calendar-check-o:before {
  content: "\e021";
}

.icon-calendar-minus-o:before {
  content: "\e022";
}

.icon-calendar:before {
  content: "\e023";
}

.icon-cog:before {
  content: "\e024";
}

.icon-heart:before {
  content: "\e025";
}

.icon-heart-o:before {
  content: "\e026";
}

.icon-bell-o:before {
  content: "\e027";
}

.icon-bell:before {
  content: "\e028";
}

.icon-bell-slash:before {
  content: "\e029";
}

.icon-bell-slash-o:before {
  content: "\e02a";
}

.icon-trophy:before {
  content: "\e02b";
}

.icon-th-list:before {
  content: "\e02c";
}

.icon-star:before {
  content: "\e02d";
}

.icon-star-o:before {
  content: "\e02e";
}

.icon-star-half-o:before {
  content: "\e02f";
}

.icon-signal:before {
  content: "\e030";
}

.icon-print:before {
  content: "\e031";
}

.icon-pencil-square-o:before {
  content: "\e032";
}

.icon-paper-plane:before {
  content: "\e033";
}

.icon-paper-plane-o:before {
  content: "\e034";
}

.icon-money:before {
  content: "\e035";
}

.icon-gift:before {
  content: "\e036";
}

.icon-flask:before {
  content: "\e037";
}

.icon-flag:before {
  content: "\e038";
}

.icon-credit-card:before {
  content: "\e039";
}

.icon-comments:before {
  content: "\e03a";
}

.icon-comments-o:before {
  content: "\e03b";
}

.icon-bullhorn:before {
  content: "\e03c";
}

.icon-align-justify:before {
  content: "\e03d";
}

.icon-briefcase:before {
  content: "\e03e";
}

.icon-filter:before {
  content: "\e03f";
}

.icon-plus-circle:before {
  content: "\e040";
}

.icon-ban:before {
  content: "\e041";
}

.icon-minus-circle:before {
  content: "\e042";
}

.icon-times-circle:before {
  content: "\e043";
}

.icon-angle-down:before {
  content: "\e044";
}

.icon-thumbs-o-down:before {
  content: "\e045";
}

.icon-thumbs-o-up:before {
  content: "\e046";
}

.icon-thumb-tack:before {
  content: "\e047";
}

.icon-random:before {
  content: "\e048";
}

.icon-exchange:before {
  content: "\e049";
}

.icon-square-o:before {
  content: "\e04a";
}

.icon-whatsapp:before {
  content: "\e04b";
}

.icon-bug:before {
  content: "\e04c";
}

.icon-paint-brush:before {
  content: "\e04d";
}

.icon-pencil:before {
  content: "\e04e";
}

.icon-reply-all:before {
  content: "\e04f";
}

.icon-retweet:before {
  content: "\e050";
}

.icon-rss-square:before {
  content: "\e051";
}

.icon-share-alt:before {
  content: "\e052";
}

.icon-share-square-o:before {
  content: "\e053";
}

.icon-tags:before {
  content: "\e054";
}

.icon-tag:before {
  content: "\e055";
}

.icon-folder-open:before {
  content: "\e056";
}

.icon-folder:before {
  content: "\e057";
}

.icon-folder-o:before {
  content: "\e058";
}

.icon-folder-open-o:before {
  content: "\e059";
}

.icon-bookmark:before {
  content: "\e05a";
}

.icon-bookmark-o:before {
  content: "\e05b";
}

.icon-asterisk:before {
  content: "\e05c";
}

.icon-at:before {
  content: "\e05d";
}

.icon-trash-o:before {
  content: "\e05e";
}

.icon-trash:before {
  content: "\e05f";
}

.icon-ticket:before {
  content: "\e060";
}

.icon-thumbs-up:before {
  content: "\e061";
}

.icon-thumbs-down:before {
  content: "\e062";
}

.icon-lock:before {
  content: "\e063";
}

.icon-upload:before {
  content: "\e064";
}

.icon-download:before {
  content: "\e065";
}

.icon-camera-retro:before {
  content: "\e066";
}

.icon-camera:before {
  content: "\e067";
}

.icon-cogs:before {
  content: "\e068";
}

.thumb-photo {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

/*AJAX LOAD*/
.ajax_load {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1065;
}

.ajax_load_box {
  margin: auto;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.ajax_load_box_circle {
  border: 16px solid #e3e3e3;
  border-top: 16px solid #61DDBC;
  border-radius: 50%;
  margin: auto;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 1.2s linear infinite;
  animation: spin 1.2s linear infinite;
}

.ajax_load_box_title {
  margin-top: 15px;
  font-weight: 600;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
